<section class="profile">
    <nav class="profile__back">
        {{{buttonBack}}}
    </nav>              

    {{#if (eq isEditPassword isEditProfile)}}
    <main class="profile__main">
        {{{image}}}
        {{{inputAvatar}}}
        <h1 class="profile__main__header">{{first_name}}</h1>
        <form class="form">
            {{#each inputs}}
                {{{this}}}
            {{/each}}
            <div class="form">
                <div class="form__container">
                    <a href="settings/info" class="form__header form__header-blue">Изменить данные</a>
                </div>
                <div class="form__container">
                    <a href="settings/password" class="form__header form__header-blue">Изменить пароль</a>
                </div>
                <div class="form__container">
                    {{{buttonExit}}}
                </div>            
            </div>
        </form>
    </main>
    {{/if}}
    {{#if isEditProfile}}
    <main class="profile__main">
        {{{image}}}
        <form class="form">
            {{#each inputs}}
                {{{this}}}
            {{/each}}
            {{{buttonSave}}}
        </form>
    </main>
    {{/if}}
    {{#if isEditPassword}}
    <main class="profile__main">
        {{{image}}}
        <form class="form">
            {{#each inputs}}
                {{{this}}}
            {{/each}}
            {{{buttonSave}}}
        </form>
    </main>
    {{/if}}
    {{{popupFile}}}   
    </section>
