<section class="main-page">
    <nav class="main-page__chats-menu">
        <a class="main-page__link" href="/profile">Профиль {{{buttonProfile}}}</a>
        <form class="main-page__form">
            <input type="text" class="main-page__find" placeholder="Поиск"/>
        </form>
        {{#each chats}}
            {{{this}}}
        {{/each}}
    </nav>
    {{!-- Уже сверстано --}}
    {{#if (eq current.id '0')}}
    <main class="main-page__chat-default">
        <p class="main-page__default-text">Выберите чат чтобы отправить сообщение</p>
    </main> 
    {{else}}
    <main class="chat">
        <div class="chat__header">
            <div class="chat__icon"></div> {{!-- потом поменяю на img --}}
            <h1 class="chat__name">{{current.name}}</h1>
            {{{buttonMenu}}}
            {{{modalMenu}}}
        </div>
        <div class="chat__messenger">
        <section class="message-group">
            <p class="message-group__date">19 июня</p>
            {{#each messages}}
                {{{this}}}
            {{/each}}
        </section>
        </div>
        <div class="chat__footer">
            {{{modalAttach}}}
            {{{buttonAttach}}}
            {{{input}}}
        </div>
    </main>
    {{/if}}
    {{{popupAgreement}}}
    {{{popupAddUser}}}
    {{{popupDeleteUser}}}
</section>
