<form class="auth">
    <h1 class="auth__title">{{title}}</h1>
    <div class="auth__container">
        {{#each inputArray}}
        <div class="auth__input-box">
            <input class="{{#if (eq this.name 'password')}}auth__input auth__input-password{{else}}auth__input{{/if}}" name="{{this.name}}" id="{{this.name}}" placeholder="{{this.label}}" type="{{this.type}}" />
            <label for="{{this.name}}" class="auth__label">{{this.label}}</label>
            {{#if this.errorText}}
                <p class="auth__error">{{this.errorText}}</p>
            {{/if}}
        </div>
        {{/each}}
    </div>
    <button class="auth__button">{{btnText}}</button>
    <a href="{{linkHref}}" class="auth__link">{{linkText}}</a>
</form>